.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // flex: 1 1 auto;
}
